ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
    text-decoration: none;
    height: 50px;
}

#content {
    width: 100%;
    height: 100%;
}

#extraMenu {
    width: 100%;
    height: 20%;
}

#extraContent {
    width: 100%;
    height: 80%;
}

input {
    width: 100%;
    height: 50px;
    font-size: 25px;
}